<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.nevvea.weclean" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cleaner.CleanerDetail"
            android:label="@string/title_activity_cleaner_detail"
            android:parentActivityName=".cleaner.TabCleaners" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".cleaner.TabCleaners" />
        </activity>
        <activity
            android:name=".account.TabAccount"
            android:label="@string/title_activity_tab_account" >
        </activity>
        <activity
            android:name=".cleaner.TabCleaners"
            android:label="@string/title_activity_tab_cleaners" >
        </activity>
        <activity
            android:name=".message.TabMessages"
            android:label="@string/title_activity_tab_messages" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".account.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".account.TabAccount" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".account.TabAccount" />
        </activity>
        <activity
            android:name=".message.ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".TabMessages" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="TabMessages" />
        </activity>
    </application>

</manifest>
