<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.nevvea.weclean" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CleanerDetail"
            android:label="@string/title_activity_cleaner_detail"
            android:parentActivityName=".TabCleaners" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="TabCleaners" />
        </activity>
        <activity
            android:name=".TabAccount"
            android:label="@string/title_activity_tab_account" >
        </activity>
        <activity
            android:name=".TabCleaners"
            android:label="@string/title_activity_tab_cleaners" >
        </activity>
        <activity
            android:name=".TabMessages"
            android:label="@string/title_activity_tab_messages" >
        </activity>
    </application>

</manifest>
